In [8]:
import pandas as pd
import numpy as np
from datetime import timedelta
import datetime as dt
np.seterr(divide='ignore', invalid='ignore')
import plotly.express as px
import plotly.graph_objects as go

In [9]:
#refrence to csv file 
csv_path = "Resources/h1n1_2009.csv"

#CSV into pandas frame
h1n1_df = pd.read_csv(csv_path, parse_dates=["Update Time"], encoding = 'unicode_escape')

In [10]:
h1n1_df

                         Country  Cases  Deaths         Update Time
0     Guernsey, Crown Dependency      5     0.0 2009-07-06 09:00:00
1     Guernsey, Crown Dependency      5     0.0 2009-07-03 09:00:00
2     Guernsey, Crown Dependency      5     0.0 2009-07-01 09:00:00
3     Guernsey, Crown Dependency      1     0.0 2009-06-29 09:00:00
4     Guernsey, Crown Dependency      1     0.0 2009-06-26 07:00:00
...                          ...    ...     ...                 ...
1796                       Yemen      6     0.0 2009-06-26 07:00:00
1797                       Yemen      6     0.0 2009-06-24 07:00:00
1798                       Yemen      5     0.0 2009-06-22 07:00:00
1799                       Yemen      4     0.0 2009-06-19 07:00:00
1800                       Yemen      1     0.0 2009-06-17 12:00:00

[1801 rows x 4 columns]

In [11]:
# number of deaths by country 
h1n1_df = h1n1_df.sort_values(by="Deaths", ascending=False).reset_index(drop=True)
h1n1_df.head()

  Country  Cases  Deaths         Update Time
0      US  33902   170.0 2009-07-03 09:00:00
1      US  33902   170.0 2009-07-06 09:00:00
2      US  27717   127.0 2009-06-29 09:00:00
3      US  27717   127.0 2009-07-01 09:00:00
4  Mexico  10262   119.0 2009-07-06 09:00:00

In [12]:
#cases by Country
h1n1_df = h1n1_df.sort_values(by="Cases", ascending=False).reset_index(drop=True)
h1n1_df.head()

  Country  Cases  Deaths         Update Time
0      US  33902   170.0 2009-07-03 09:00:00
1      US  33902   170.0 2009-07-06 09:00:00
2      US  27717   127.0 2009-06-29 09:00:00
3      US  27717   127.0 2009-07-01 09:00:00
4      US  21449    87.0 2009-06-22 07:00:00

In [13]:
h1n1_df = h1n1_df.loc[:,['Country','Cases','Deaths','Update Time']]
h1n1_df['Country'].nunique()

144

In [14]:
#h1n1_df.set_index("Country")
h1n1_df

       Country  Cases  Deaths         Update Time
0           US  33902   170.0 2009-07-03 09:00:00
1           US  33902   170.0 2009-07-06 09:00:00
2           US  27717   127.0 2009-06-29 09:00:00
3           US  27717   127.0 2009-07-01 09:00:00
4           US  21449    87.0 2009-06-22 07:00:00
...        ...    ...     ...                 ...
1796  Dominica      1     0.0 2009-07-06 09:00:00
1797   Denmark      1     0.0 2009-05-23 08:00:00
1798   Denmark      1     0.0 2009-05-25 08:00:00
1799   Iceland      1     0.0 2009-06-08 06:00:00
1800   Vanuatu      1     NaN 2009-06-24 07:00:00

[1801 rows x 4 columns]

In [15]:
# h1n1_df.set_index("Country", inplace = True)
h1n1_df = h1n1_df.reset_index(drop=False)

In [16]:
h1n1_df

      index   Country  Cases  Deaths         Update Time
0         0        US  33902   170.0 2009-07-03 09:00:00
1         1        US  33902   170.0 2009-07-06 09:00:00
2         2        US  27717   127.0 2009-06-29 09:00:00
3         3        US  27717   127.0 2009-07-01 09:00:00
4         4        US  21449    87.0 2009-06-22 07:00:00
...     ...       ...    ...     ...                 ...
1796   1796  Dominica      1     0.0 2009-07-06 09:00:00
1797   1797   Denmark      1     0.0 2009-05-23 08:00:00
1798   1798   Denmark      1     0.0 2009-05-25 08:00:00
1799   1799   Iceland      1     0.0 2009-06-08 06:00:00
1800   1800   Vanuatu      1     NaN 2009-06-24 07:00:00

[1801 rows x 5 columns]

In [22]:
#Create Dataset that lists all countries
h1n1_df = h1n1_df.loc[:,['Country','Cases','Deaths', 'Update Time']]


#Find start date of infections in YYY-DD-MM format
start_day = h1n1_df.groupby(by='Country').agg('min').reset_index(drop=False)
start_day = start_day.loc[:,['Country', 'Update Time']]

# #Find todays date in YYYY-DD-MM format
# today = dt.datetime.today()

# #Days since first infection date
# days_difference = []
# days_difference = (today - start_day['Update Time']).dt.days
# days_difference

# #Merge on index
# start_day = start_day.merge(days_difference, left_index=True, right_index=True)
# start_day = start_day.rename(columns={'Country': 'Country', 
#                                       'Date_x': 'Start Date', 
#                                       'Date_y': 'Days Since 1st Case'})

# start_day['Weeks Since 1st Case'] = round(start_day['Days Since 1st Case'] / 7, 2)

# start_day.sort_values(by='Days Since 1st Case', ascending=False)\
# .reset_index(drop=True).style.background_gradient(cmap='Reds')
start_day

                 Country         Update Time
0                Algeria 2009-06-22 07:00:00
1    Antigua and Barbuda 2009-06-24 07:00:00
2              Argentina 2009-05-23 08:00:00
3              Australia 2009-05-23 08:00:00
4                Austria 2009-05-23 08:00:00
..                   ...                 ...
139            Venezuela 2009-06-01 06:00:00
140              Vietnam 2009-06-01 06:00:00
141       Virgin Islands 2009-07-06 09:00:00
142   West Bank and Gaza 2009-06-15 17:00:00
143                Yemen 2009-06-17 12:00:00

[144 rows x 2 columns]

In [ ]:
# #store Country, days since 1st casr and weeks since 1st case

# start_day = start_day.loc[:, ['Country', 'Days Since 1st Case', 'Weeks Since 1st Case']]
# start_day

In [63]:
#Country deep Dive Italy 

italy = h1n1_df.loc[h1n1_df["Country"] == "Italy", :]
italy = italy.reset_index(drop=True)

#Find start date of infections 
italy_start = italy["Update Time"].reset_index(drop=True)[0]

#Find todays date in YYYY-DD-MM format
today = dt.datetime.today()

#days since first infection date
difference = today - italy_start
difference = difference.days
difference


#Find Daily increase in Cases and Deaths
it_confirmed_pct_change = round(italy['Cases'].pct_change() * 100, 2)
it_death_change = round(italy['Deaths'].pct_change() * 100, 2)

#Find Daily Percentage Increase in Confirmed cases and Deaths
it_confirmed_perday = italy['Cases'].diff()
it_death_perday = italy['Deaths'].diff()

italy_percent_change = pd.DataFrame

italy_percent = pd.DataFrame({
                   "New Confirmed Cases Per Day": it_confirmed_perday,
                   "Confirmed Percent Change" : it_confirmed_pct_change,
                   "New Confirmed Deaths Per Day": it_death_perday,
                   "Death Percent Change" : it_death_change,
                    })
    
italy_percent.fillna(value=0)

,New Confirmed Cases Per Day,Confirmed Percent Change,New Confirmed Deaths Per Day,Death Percent Change
0,0.0,0.00,0.0,0.0
1,-16.0,-10.96,0.0,0.0
2,-7.0,-5.38,0.0,0.0
3,-11.0,-8.94,0.0,0.0
4,-10.0,-8.93,0.0,0.0
5,-6.0,-5.88,0.0,0.0
6,-8.0,-8.33,0.0,0.0
7,0.0,0.00,0.0,0.0
8,-16.0,-18.18,0.0,0.0
9,-5.0,-6.94,0.0,0.0
10,-11.0,-16.42,0.0,0.0
11,-2.0,-3.57,0.0,0.0
12,-4.0,-7.41,0.0,0.0
13,0.0,0.00,0.0,0.0
14,-12.0,-24.00,0.0,0.0
15,-8.0,-21.05,0.0,0.0
16,-1.0,-3.33,0.0,0.0
17,-3.0,-10.34,0.0,0.0
18,-3.0,-11.54,0.0,0.0
19,-4.0,-17.39,0.0,0.0
20,0.0,0.00,0.0,0.0
21,-5.0,-26.32,0.0,0.0

In [66]:

#Merge DataSets together into 1 df
italy_df = italy.merge(italy_percent, left_index=True, right_index=True)
italy_df = italy_df.fillna(value=0)

In [68]:
italy_df

,Country,Cases,Deaths,Update Time,New Confirmed Cases Per Day,Confirmed Percent Change,New Confirmed Deaths Per Day,Death Percent Change
0,Italy,146,0.0,2009-07-06 09:00:00,0.0,0.00,0.0,0.0
1,Italy,130,0.0,2009-07-03 09:00:00,-16.0,-10.96,0.0,0.0
2,Italy,123,0.0,2009-07-01 09:00:00,-7.0,-5.38,0.0,0.0
3,Italy,112,0.0,2009-06-29 09:00:00,-11.0,-8.94,0.0,0.0
4,Italy,102,0.0,2009-06-26 07:00:00,-10.0,-8.93,0.0,0.0
5,Italy,96,0.0,2009-06-24 07:00:00,-6.0,-5.88,0.0,0.0
6,Italy,88,0.0,2009-06-22 07:00:00,-8.0,-8.33,0.0,0.0
7,Italy,88,0.0,2009-06-19 07:00:00,0.0,0.00,0.0,0.0
8,Italy,72,0.0,2009-06-17 12:00:00,-16.0,-18.18,0.0,0.0
9,Italy,67,0.0,2009-06-15 17:00:00,-5.0,-6.94,0.0,0.0
10,Italy,56,0.0,2009-06-12 07:00:00,-11.0,-16.42,0.0,0.0
11,Italy,54,0.0,2009-06-11 14:00:00,-2.0,-3.57,0.0,0.0
12,Italy,50,0.0,2009-06-10 06:00:00,-4.0,-7.41,0.0,0.0
13,Italy,50,0.0,2009-06-08 06:00:00,0.0,0.00,0.0,0.0
14,Italy,38,0.0,2009-06-05 06:00:00,-12.0,-24.00,0.0,0.0
15,Italy,30,0.0,2009-06-03 06:00:00,-8.0,-21.05,0.0,0.0
16,Italy,29,0.0,2009-06-01 06:00:00,-1.0,-3.33,0.0,0.0
17,Italy,26,0.0,2009-05-29 06:00:00,-3.0,-10.34,0.0,0.0
18,Italy,23,0.0,2009-05-27 08:00:00,-3.0,-11.54,0.0,0.0
19,Italy,19,0.0,2009-05-26 06:00:00,-4.0,-17.39,0.0,0.0
20,Italy,19,0.0,2009-05-25 08:00:00,0.0,0.00,0.0,0.0
21,Italy,14,0.0,2009-05-23 08:00:00,-5.0,-26.32,0.0,0.0

In [74]:
#Country deep United States of America

UnitedStatesofAmerica = h1n1_df.loc[h1n1_df["Country"] == "United States of America", :]
UnitedStatesofAmerica = UnitedStatesofAmerica.reset_index(drop=True)

#Find start date of infections
UnitedStatesofAmerica_start = UnitedStatesofAmerica["Update Time"].reset_index(drop=True)[0]


#Find todays date in YYYY-DD-MM format
today = dt.datetime.today()

#days since first infection date
difference = today - UnitedStatesofAmerica_start
difference = difference.days
difference


#Find Daily increase in Cases and Deaths
it_confirmed_pct_change = round(UnitedStatesofAmerica['Cases'].pct_change() * 100, 2)
it_death_change = round(UnitedStatesofAmerica['Deaths'].pct_change() * 100, 2)

#Find Daily Percentage Increase in Confirmed cases and Deaths
it_confirmed_perday = UnitedStatesofAmerica['Cases'].diff()
it_death_perday = UnitedStatesofAmerica['Deaths'].diff()

UnitedStatesofAmerica_percent_change = pd.DataFrame

UnitedStatesofAmerica_percent = pd.DataFrame({
                   "New Confirmed Cases Per Day": it_confirmed_perday,
                   "Confirmed Percent Change" : it_confirmed_pct_change,
                   "New Confirmed Deaths Per Day": it_death_perday,
                   "Death Percent Change" : it_death_change,
})
    
UnitedStatesofAmerica_percent.fillna(value=0)

,New Confirmed Cases Per Day,Confirmed Percent Change,New Confirmed Deaths Per Day,Death Percent Change
0,0.0,0.00,0.0,0.00
1,0.0,0.00,0.0,0.00
2,-6185.0,-18.24,-43.0,-25.29
3,0.0,0.00,0.0,0.00
4,-6268.0,-22.61,-40.0,-31.50
5,0.0,0.00,0.0,0.00
6,0.0,0.00,0.0,0.00
7,-3594.0,-16.76,-43.0,-49.43
8,0.0,0.00,1.0,2.27
9,-4638.0,-25.98,-18.0,-40.00
10,0.0,0.00,0.0,0.00
11,0.0,0.00,0.0,0.00
12,0.0,0.00,0.0,0.00
13,-2163.0,-16.37,-10.0,-37.04
14,-1001.0,-9.06,0.0,0.00
15,-1078.0,-10.72,-2.0,-11.76
16,-1048.0,-11.68,-4.0,-26.67
17,-1163.0,-14.67,-1.0,-9.09
18,0.0,0.00,0.0,0.00
19,-212.0,-3.13,-1.0,-10.00
20,0.0,0.00,0.0,0.00

In [76]:
us_df = UnitedStatesofAmerica.merge(UnitedStatesofAmerica_percent, left_index=True, right_index=True)
us_df = us_df.fillna(value=0)

In [77]:
us_df

,Country,Cases,Deaths,Update Time,New Confirmed Cases Per Day,Confirmed Percent Change,New Confirmed Deaths Per Day,Death Percent Change
0,United States of America,33902,170.0,2009-07-03 09:00:00,0.0,0.00,0.0,0.00
1,United States of America,33902,170.0,2009-07-06 09:00:00,0.0,0.00,0.0,0.00
2,United States of America,27717,127.0,2009-06-29 09:00:00,-6185.0,-18.24,-43.0,-25.29
3,United States of America,27717,127.0,2009-07-01 09:00:00,0.0,0.00,0.0,0.00
4,United States of America,21449,87.0,2009-06-26 07:00:00,-6268.0,-22.61,-40.0,-31.50
5,United States of America,21449,87.0,2009-06-22 07:00:00,0.0,0.00,0.0,0.00
6,United States of America,21449,87.0,2009-06-24 07:00:00,0.0,0.00,0.0,0.00
7,United States of America,17855,44.0,2009-06-19 07:00:00,-3594.0,-16.76,-43.0,-49.43
8,United States of America,17855,45.0,2009-06-15 17:00:00,0.0,0.00,1.0,2.27
9,United States of America,13217,27.0,2009-06-12 07:00:00,-4638.0,-25.98,-18.0,-40.00
10,United States of America,13217,27.0,2009-06-10 06:00:00,0.0,0.00,0.0,0.00
11,United States of America,13217,27.0,2009-06-11 14:00:00,0.0,0.00,0.0,0.00
12,United States of America,13217,27.0,2009-06-08 06:00:00,0.0,0.00,0.0,0.00
13,United States of America,11054,17.0,2009-06-05 06:00:00,-2163.0,-16.37,-10.0,-37.04
14,United States of America,10053,17.0,2009-06-03 06:00:00,-1001.0,-9.06,0.0,0.00
15,United States of America,8975,15.0,2009-06-01 06:00:00,-1078.0,-10.72,-2.0,-11.76
16,United States of America,7927,11.0,2009-05-29 06:00:00,-1048.0,-11.68,-4.0,-26.67
17,United States of America,6764,10.0,2009-05-27 08:00:00,-1163.0,-14.67,-1.0,-9.09
18,United States of America,6764,10.0,2009-05-26 06:00:00,0.0,0.00,0.0,0.00
19,United States of America,6552,9.0,2009-05-23 08:00:00,-212.0,-3.13,-1.0,-10.00
20,United States of America,6552,9.0,2009-05-25 08:00:00,0.0,0.00,0.0,0.00